{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Classe.Tex</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <img class = "logo" src ="{% static "assets/logo.png" %}">
    </header>  
    <form action="{% url 'texToPdf:generatePdf' %}" method="get">
    {% csrf_token %}  
        <div class = "container">
            <div class = "input">
                <label for="quantity">Número de questões:</label>
                <input type="number" id="quantity" name="quantity" value="5">
            </div>
            <input type="submit" class="btn" value="Dowload">
            {% comment %} <button class="btn" onclick="{% url 'generatePdf' %}" type="button">Dowload</button> {% endcomment %}
        </div>
    </form>
</body>
</html>